<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- () << event binding:  -->
            <!-- create template reference variable for use with form validation. referencing ngForm Angular directive: -->
            <form class="form-inline" (ngSubmit)="addTask()" #taskForm="ngForm">
                <div class="form-group">
                    <label for="content-field" class="sr-only"></label>
                    <!-- [()] << two way data binding  -->
                    <!--  -->
                    <input type="text" class="form-control" required="true" placeholder="Enter a task..." [(ngModel)]="currentTask.content" name="content">
                </div>
                <!-- use property binding to add a disabled property if taskFrom returns invalid:  -->
                <button type="submit" class="btn btn-primary" [disabled]="taskForm.form.invalid"><i class="fa fa-plus" aria-hidden="true"></i>Add task</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <weather-widget></weather-widget>
        </div>
        <div class="col-md-8">
            <app-card *ngFor="let task of tasks; let deleteCheck of deleteChecks" [task]="task" [deleteCheck]="deleteCheck"></app-card>
            <!-- display a message if the task list is empty:  -->
            <div class="emptyMessage" *ngIf="tasks.length == 0">
                <p>Empty task list!</p>
                <p class="">Add new tasks if there's work to be done.</p>
            </div>
        </div>

    </div>
</div>